<!DOCTYPE html>
<html ng-app="store">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="code-school.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="code-school.js"></script>
</head>
<body>

<div ng-controller="FoodController as foodController">
    <ul>
        <li ng-repeat="food in foodController.foods">
            {{ food.name }} - {{food.rating}} - {{food.size}} - {{food.createdOn | date}}
        </li>
    </ul>

    <div>
        New food<br/>
        Name: {{foodController.newFood.name}}<br/>
        Rating: {{foodController.newFood.rating}}<br/>
        Size: {{foodController.newFood.size}}<br/>
    </div>
    <br/>
    <form name="newFood" ng-submit="newFood.$valid && foodController.addFood()" novalidate>
        Name:
        <input type="text" ng-model="foodController.newFood.name" required/>
        Rating:
        <select ng-model="foodController.newFood.rating"
                ng-options="rating for rating in [1, 2, 3, 4, 5]" required>

        </select>
        Size:
        <div>
            <div ng-repeat="size in ['Large', 'Medium', 'Small', 'Mini']">
                <input ng-model="foodController.newFood.size"
                       type="radio" name="foodSize" ng-value="size" required/>{{size}}
            </div>
        </div>
        <button type="submit">Add</button>
        <br/>
        <div>Is valid? {{newFood.$valid}}</div>
    </form>
</div>
</body>

</html>